/*------formatting-------*/
html{
  width: 100%;
  overflow-x: hidden;

}
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: coral;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: coral;
}

.subnav:hover .subnav-content {
  display: block;
}

.index-image img {
  max-width: 100%;
  height: auto;
}

.intro-header {
  margin-top:0px;
  padding: 10px;
  text-align: center;
  background: lightsalmon;
  color: white;
  font-size: 20px;
}


.thoughts-box {
  padding: 20px;
  text-align: center;
  background: palevioletred;
  color: white;
  font-size: 20px;
  
}

.first-webpage {
  background-color: lightblue;
}

.first-webpage h2{
  text-align: center;
  font-size: 30px;
}

.first-webpage p, li{
  padding-left: 10%;
  font-size: 20px;
}

.first-webpage {
  padding-left: 10%;
  font-size: 15px;
}



