/*------formatting-------*/
html{
  width: 100%;
  overflow-x: hidden;

}
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: coral;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: coral;
}

.subnav:hover .subnav-content {
  display: block;
}

.index-image img {
  max-width: 100%;
  height: auto;
}

.intro-header {
  margin-top:0px;
  padding: 10px;
  text-align: center;
  background: lightsalmon;
  color: white;
  font-size: 20px;
}


.thoughts-box {
  padding: 20px;
  text-align: center;
  background: palevioletred;
  color: white;
  font-size: 20px;
  
}

.first-webpage {
  background-color: lightblue;
}

.first-webpage h2{
  text-align: center;
  font-size: 30px;
}

.first-webpage p, li{
  padding-left: 10%;
  font-size: 20px;
}

.first-webpage {
  padding-left: 10%;
  font-size: 15px;
}

.wk3-row {
  display: flex;
}

.wk3-column img {
  width: 100%;
  height: 300px;
}

.wk-4-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-wrap: wrap;

}

.wk-4-flex-item {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  border: 1px solid #D3D3D3;
}

.wk-4-flex-img img {
  max-width: 100%;
}

.wk-4-flex-info {
  margin-top: auto;
}

@media (max-width: 720px) {
  .wk-4-flex-item {
    flex: 0 45%;
  }
}

.wk-5-OAL img{
  max-width: 100%;
}

.liststyle{
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: orangered;
  max-width: 100%;
  margin: 10px;
  color: white;
  font-size: 25px;
}

.stopwatch {
  width: 800px;
  margin: 30px auto;
  color: black;
  text-align:center;
}

/*random user api*/
.title {
  color: #2c3e50;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.user-profile {
  margin: auto;
	width: 27em; 
  height: 11em;
  background: #fff;
  border-radius: .3em;
}

.user-profile  #fullname {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #16a085;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

#username {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #3498db;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 3em;
  width: 18em;
  color: #7f8c8d;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.user-profile > img#avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}


.footer {
	margin: 2em auto;
	height: 3.70em;
  background: #16a085;
  text-align: center;
  border-radius: 0 0 .3em .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.1s;
}

.stopwatch {
  text-align: center;
  margin-top: 20px;
}

.stopwatch button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.stopwatch button:hover {
  background-color: #45a049;
}
.footer:hover {
  background: #1abc9c;
}
